

<section>
    <div class="container align-items-center" style="padding-top: 8rem;">

        <div class="row justify-content-center">
            <div class="col-md-6" style="transition: all 1s ease-out;">

                {{#if success}} <div style="transition:0.5s; -webkit-transition:0.5s;" id="successDiv"
                    class="alert alert-success" role="alert"><i class="fa-regular fa-circle-check"></i>Product Updated
                </div>
                {{/if}}

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6 col-sm-6 col-10 mb-5" style="box-shadow: 0 8px 16px 0 rgba(218, 8, 8, 0.2);transition: 0.3s;">
                <h2 class="text-center admin-logo pt-3">Edit Product</h2>
                <form action="/admin/edit-product/{{product._id}}" method="post" enctype="multipart/form-data">
                    <label for="">Name</label>
                    <input type="text" name="Name" onkeyup="proNameValidate()" class="form-control" value="{{product.Name}}">
                    <div class="error-msg errormsg4"></div>
                    <br>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Max Price</label>
                            <input type="text" name="Maxprice" class="form-control" id="maxprice" onkeyup="maxPriceValidate()" value="{{product.Maxprice}}">
                            <div class="error-msg" id="errormsg1"></div>
                            <br>
                        </div>
                        <div class="col-md-6">
                            <label for="">Price</label>
                            <input type="text" name="Price" id="price" onkeyup="priceValidate()" class="form-control" value="{{product.Price}}">
                            <dic class="error-msg" id="errormsg3"></dic>
                            <br>
                        </div>

                    </div>

                    <label for="">Title</label>
                    <input type="text" name="Title" class="form-control" value="{{product.Title}}">
                    <br>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="">Category</label><br>
                            <select name="Category" id="Category">
                                <option>Select</option>
                                {{#each cat}}
                                <option value="{{this.Category}}" name="Category">{{this.Category}}</option>
                                {{/each}}

                            </select><br><br><br>
                        </div>

                        <div class="col-md-3">
                            <label for="">Sub Category</label><br>
                            <select name="Subcategory " id="subCat" style="display:block !important;">
                            </select><br><br><br>
                        </div>

                        <div class="col-md-6">
                            <label for="">Colours</label><br>
                            <div class="mt-1">
                                {{#each color}}
                                <div class="form-check form-check-inline">

                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="Colour"
                                        value="{{this.Color}}">
                                    <label class="form-check-label" for="inlineCheckbox1">{{this.Color}}</label>

                                </div>
                                {{/each}}

                            </div>
                        </div>

                        <div class="col-md-12" style="margin-top: 10px;">
                            <label for="">Size</label><br>
                            <div class="mt-1">
                                {{#each size}}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="Size"
                                        value="{{this.Size}}">
                                    <label class="form-check-label" for="inlineCheckbox1">{{this.Size}}</label>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    
                    <div class="mt-4">
                    <label for="">Description</label>
                    <input type="text" name="Description" class="form-control" value="{{product.Description}}">
                    </div>

                    <div class="mt-4">
                    <label for="">Stock</label>
                    <input type="text" name="Stock" id="stock" class="form-control" onkeyup="stockValidate()" value="{{product.Stock}}">
                    <div class="error-msg" id="errormsg2"></div>
                    </div>

                    <div class="mt-4">

                        <div class="row">
                            {{!-- --------1---------- --}}
                            <div class="mb-3  col-lg-12 mt-3">
                                <img src="" id="imgView1" alt="" style="width:100px">
                                <input type="file" id="id_image1" class="form-control" name="image1" accept="image/*"
                                    onchange="viewImage1(event)"><br>
                                <div id="image-box1" class="image-container"></div>
                                <button class="btn btn-outline-info" id="crop-btn1"
                                    style="width: 100%; margin-top: 10px; display: none;" type="button">Crop</button>
                            </div>
                             <div id="imagePreview"></div>
                            {{!-- --------2---------- --}}


                            <div class="mb-3  col-lg-12 mt-3">
                                <img src="" id="imgView2" alt="" style="width:100px">
                                <input type="file" id="id_image2" class="form-control" name="image2" accept="image/*"
                                    onchange="viewImage2(event)"><br>
                                <div id="image-box2" class="image-container"></div>
                                <button class="btn btn-outline-info" id="crop-btn2"
                                    style="width: 100%; margin-top: 10px; display: none;" type="button">Crop</button>
                            </div>
                            {{!-- --------3---------- --}}

                            <div class="mb-3  col-lg-12 mt-3">
                                <img src="" id="imgView3" alt="" style="width:100px">
                                <input type="file" id="id_image3" class="form-control" name="image3" accept="image/*"
                                    onchange="viewImage3(event)"><br>
                                <div id="image-box3" class="image-container"></div>
                                <button class="btn btn-outline-info" id="crop-btn3"
                                    style="width: 100%; margin-top: 10px; display: none;" type="button">Crop</button>
                            </div>

                             {{!-- --------4---------- --}}

                            <div class="mb-3  col-lg-12 mt-3">
                                <img src="" id="imgView4" alt="" style="width:100px">
                                <input type="file" id="id_image4" class="form-control" name="image4" accept="image/*"
                                    onchange="viewImage4(event)"><br>
                                <div id="image-box4" class="image-container"></div>
                                <button class="btn btn-outline-info" id="crop-btn4"
                                    style="width: 100%; margin-top: 10px; display: none;" type="button">Crop</button>
                            </div>
                          

                           
                        </div>

                        <div id="dvPreview" class="mt-2">
                        {{#each product.Imageid}}
                        
                        <img src="/product-images/{{this}}"
                            style="height: 110px;width: 90px;">
                       
                        {{/each}}
                         </div>

                    </div>

                    <div class="mt-4 mb-4">
                        <button type="submit" class="btn btn-success" onclick="return proValidate()">Edit Product</button>
                    </div>

                </form>

            </div>
        </div>
    </div>


</section>