
    <script language="javascript" type="text/javascript">
        window.onload = function () {
            var fileUpload = document.getElementById("fileupload");
            fileUpload.onchange = function () {
                if (typeof (FileReader) != "undefined") {
                    var dvPreview = document.getElementById("dvPreview");
                    dvPreview.innerHTML = "";
                    var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp|.webp)$/;
                    for (var i = 0; i < fileUpload.files.length; i++) {
                        var file = fileUpload.files[i];
                        if (regex.test(file.name.toLowerCase())) {
                            var reader = new FileReader();
                            reader.onload = function (e) {
                                var img = document.createElement("IMG");
                                img.height = "110";
                                img.width = "90";
                                img.src = e.target.result;
                                dvPreview.appendChild(img);
                            }
                            reader.readAsDataURL(file);
                        } else {
                            alert(file.name + " is not a valid image file.");
                            dvPreview.innerHTML = "";
                            return false;
                        }
                    }
                } else {
                    alert("This browser does not support HTML5 FileReader.");
                }
            }
        };
    </script>

<section style="height: 1300px;">
    <div class="container align-items-center" style="padding-top: 8rem;">

        <div class="row justify-content-center">
            <div class="col-md-6" style="transition: all 1s ease-out;">

                {{#if success}} <div style="transition:0.5s; -webkit-transition:0.5s;" id="successDiv"
                    class="alert alert-success" role="alert"><i class="fa-regular fa-circle-check"></i>Product Updated
                </div>
                {{/if}}

            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-6" style="box-shadow: 0 8px 16px 0 rgba(218, 8, 8, 0.2);transition: 0.3s;height: 1050px;">
                <h2 class="text-center admin-logo pt-3">Edit Product</h2>
                <form action="/admin/edit-product/{{product._id}}" method="post" enctype="multipart/form-data">
                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control" value="{{product.Name}}">
                    <br>

                    <div class="row">
                        <div class="col-md-6">
                            <label for="">Max Price</label>
                            <input type="text" name="Maxprice" class="form-control" value="{{product.Maxprice}}">
                            <br>
                        </div>
                        <div class="col-md-6">
                            <label for="">Price</label>
                            <input type="text" name="Price" class="form-control" value="{{product.Price}}">
                            <br>
                        </div>

                    </div>

                    <label for="">Title</label>
                    <input type="text" name="Title" class="form-control" value="{{product.Title}}">
                    <br>

                    <div class="row">
                        <div class="col-md-3">
                            <label for="">Category</label><br>
                            <select name="Category" id="Category">
                                <option>Select</option>
                                {{#each cat}}
                                <option value="{{this.Category}}" name="Category">{{this.Category}}</option>
                                {{/each}}

                            </select><br><br><br>
                        </div>

                        <div class="col-md-3">
                            <label for="">Sub Category</label><br>
                            <select name="Subcategory " id="subCat" style="display:block !important;">
                            </select><br><br><br>
                        </div>

                        <div class="col-md-6">
                            <label for="">Colours</label><br>
                            <div class="mt-1">
                                {{#each color}}
                                <div class="form-check form-check-inline">

                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="Colour"
                                        value="{{this.Color}}">
                                    <label class="form-check-label" for="inlineCheckbox1">{{this.Color}}</label>

                                </div>
                                {{/each}}

                            </div>
                        </div>

                        <div class="col-md-12" style="margin-top: 10px;">
                            <label for="">Size</label><br>
                            <div class="mt-1">
                                {{#each size}}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="Size"
                                        value="{{this.Size}}">
                                    <label class="form-check-label" for="inlineCheckbox1">{{this.Size}}</label>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                    
                    <div class="mt-4">
                    <label for="">Description</label>
                    <input type="text" name="Description" class="form-control" value="{{product.Description}}">
                    </div>

                    <div class="mt-4">
                    <label for="">Stock</label>
                    <input type="text" name="Stock" class="form-control" value="{{product.Stock}}">
                    </div>

                    <div class="mt-4">

                        <div>
                            <label for="" class="mt-2">Image</label>
                            <input type="file" name="image" id="fileupload"
                                class="form-control mt-1" multiple>
                        </div>

                        <div id="dvPreview" class="mt-2">
                        {{#each product.Imageid}}
                        
                        <img src="/product-images/{{this}}"
                            style="height: 110px;width: 90px;">
                       
                        {{/each}}
                         </div>

                    </div>

                    <div class="mt-4">
                        <button class="btn btn-success">Edit Product</button>
                    </div>

                </form>

            </div>
        </div>
    </div>


</section>