<!-- Offcanvas Menu Begin -->
  
<style>
    .badge {
  position: absolute;
  font-size: xx-small;
  margin-left:9px;
  margin-top: -15px;
  background-color: var(--orange);
  color: white;
}
</style>
<div class="offcanvas-menu-overlay"></div>
<div class="offcanvas-menu-wrapper">
    <div class="offcanvas__option">
        <div class="offcanvas__links">
            <label class="dropdown">
                <div class="dropdown1 ">
                            <button class="dropbtn">
                                {{#if user}}
                                <a>{{user.name}}</a>
                                {{else}}
                                <a href="/login">Sign In</a>
                                {{/if}}

                                {{#if user}}
                                <i class="fa fa-caret-down"></i>
                                {{/if}}
                            </button>

                            {{#if user}}
                            <div class="dropdown-content">
                                <a href="/signup">My Profile</a>
                                <a href="/login">My Orders</a>
                                <a href="/logout">Logout</a>
                            </div>
                            {{/if}}

                </div>

            </label>
            <a href="#">About</a>
        </div>

    </div>
    <div class="offcanvas__nav__option">
        <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
        <a href="#"><img src="img/icon/heart.png" alt=""></a>
        <a href="#"><img src="img/icon/cart.png" alt=""> <span>0</span></a>
        <div class="price">$0.00</div>
    </div>
    <div id="mobile-menu-wrap"></div>

</div>
<!-- Offcanvas Menu End -->

<!-- Header Section Begin -->
<header class="header">
    <div class="header__top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-7">

                </div>
                <div class="col-lg-6 col-md-5">
                    <div class="header__top__right">
                        <div class="dropdown header__top__links">
                            <button class="dropbtn">
                                {{#if user}}
                                <a>{{user.name}}</a>
                                {{else}}
                                <a href="/login">Sign In</a>
                                {{/if}}

                                {{#if user}}
                                <i class="fa fa-caret-down"></i>
                                {{/if}}
                            </button>

                            {{#if user}}
                            <div class="dropdown-content">
                                <a href="/my-profile">My Profile</a>
                                <a href="/my-orders">My Orders</a>
                                <a href="/logout">Logout</a>
                            </div>
                            {{/if}}

                        </div>
                        <div class="header__top__links">
                            <a href="#">About</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <div class="header__logo">
                    <a href="/">
                        <p id="logo">Milana</p>
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <nav class="header__menu mobile-menu">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        {{#each cat}}
                        <li><a href="/category?cat={{this.Category}}">{{this.Category}}</a>
                            <ul class="dropdown">
                                {{#each SubCategory}}
                                <li><a href="/subcat?subcat={{this}}&cat={{../this.Category}}">{{this}}</a></li>
                                {{/each}}
                            </ul>
                        </li>
                        {{/each}}
                        

                    </ul>
                </nav>
            </div>
            <div class="col-lg-3 col-md-3">
                <div class="header__nav__option">
                    <a href="#" class="search-switch"><img src="img/icon/search.png" alt=""></a>
                    <a href="#"><img src="img/icon/heart.png" alt=""></a>
                    <a href="/cart"><img src="img/icon/cart.png" style="height: 20px; width: 18px;margin-top: -3px;" alt=""> <span class='badge badge-pill' id="cart-count">{{cartCount}}</span></a>
                    <div class="price pl-1">₹0.00</div>
                </div>
            </div>
        </div>
        <div class="canvas__open"><i class="fa fa-bars"></i></div>
    </div>
</header>
<!-- Header Section End -->
