<!-- Shop Section Begin -->

<style>
    #searchbar{
     border-color: rgb(202, 202, 236);
     padding:15px;
     border-radius: 10px;
   }
 
   input[type=text] {
      width: 30%;
      -webkit-transition: width 0.15s ease-in-out;
      transition: width 0.15s ease-in-out;
   }
 
   /* When the input field gets focus,
        change its width to 100% */
   input[type=text]:focus {
     width: 70%;
   }
 
  #list{
    font-size:  1.5em;
    margin-left: 90px;
   }
 
  .animals{
   display: list-item;    
  }

  .list-wrapper {
	padding: 15px;
	overflow: hidden;
}

   
</style>

<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form action="#">
                            <input id="searchbar" onkeyup="search_product()" type="text" name="search" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                {{#each cat}}
                                                <li><a href="/category?cat={{this.Category}}">{{this.Category}}</a></li>
                                                {{/each}} 
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card price-div">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                <li><a href="javascript:onclickFunction(399,799,'{{cat1}}')">₹399 - ₹799</a></li>
                                                <li><a href="javascript:onclickFunction(800,1999,'{{cat1}}')">₹800 - ₹1999</a></li>
                                                <li><a href="javascript:onclickFunction(2000,2999,'{{cat1}}')">₹2000 - ₹2999</a></li>
                                                <li><a href="javascript:onclickFunction(3000,5000,'{{cat1}}')">₹3000 - ₹5000</a></li>
                                                <li><a href="javascript:onclickFunction(5000,0,'{{cat1}}')">₹5000+</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            {{!-- <div class="shop__product__option__left">
                                <p>Showing 1–12 of 126 results</p>
                            </div> --}}
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <p>Sort by Price:</p>
                                <select id="low-to-high">
                                    <option value="abc,def,{{cat1}}">Select</option>
                                    <option value="low,hig,{{cat1}}">Low To High</option>
                                    <option value="sta,fin,{{cat1}}">High to low</option>
                                    <option value="000,399,{{cat1}}">₹399 - ₹799</option>
                                    <option value="400,799,{{cat1}}">₹800 - ₹1399</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row list-wrapper" id="filter-products">
                    {{#each products}}
                    <div class="col-lg-4 col-md-6 col-sm-6 hide-div list-item  ">
                        <div class="product__item ">
                            <a href="/product?id={{this._id}}" target="_blank">
                                <div class="product__item__pic set-bg"
                                    data-setbg="/product-images/{{this.Imageid.[0]}}">

                                </div>

                            </a>
                            <div class="product__item__text">
                                <h6 class="brand">{{this.Name}}</h6>
                                <h6 class=" text-truncate">{{this.Title}}</h6>
                                <ul class="product__hover">
                                    <li>          
                                        <a href="javascript:addToWishlet('{{this._id}}','{{../user._id}}')" >
                                        {{#if ../user._id}}
                                        {{#if (eq this.output.[0].userId ../user._id)}}<i class="fa fa-heart" style="font-size:22px;padding-left: 13rem !important;color: red;" id="heart-{{this._id}}"></i><i class="fa fa-heart-o" id="{{this._id}}" style="font-size:22px;padding-left: 13rem !important;display: none;"></i>
                                        {{else}}<i class="fa fa-heart" style="display: none;font-size:22px;padding-left: 13rem !important;color: red;" id="heart-{{this._id}}"></i><i class="fa fa-heart-o" id="{{this._id}}" style="font-size:22px;padding-left: 13rem !important;"></i>{{/if}} 
                                        {{else}}<i class="fa fa-heart" style="display: none;font-size:22px;padding-left: 13rem !important;color: red;" id="heart-{{this._id}}"></i><i class="fa fa-heart-o" id="{{this._id}}" style="font-size:22px;padding-left: 13rem !important;"></i> {{/if}}  </a>
                                         
                                    </li>

                                </ul>
                               
                                <div class="rating">
                                   
                                </div>
                                <h5>₹ {{this.Price}}</h5> 
                                <span
                                    style="color: #b7b7b7;font-size: 15px;font-weight: 400;text-decoration: line-through;">₹
                                    {{this.Maxprice}}</span>
                                <div class="product__color__select">
                                    {{#each Colour}}
                                    <label class="{{this}}" for="pc-6">
                                        <input type="radio" id="">
                                    </label>
                                    {{/each}}
                                </div>
                            </div>
                        </div> 
                    </div>
                    {{/each}}
                </div>
                <div id="pagination-container"></div>
            </div>
        </div>
</section>
<!-- Shop Section End -->


<script>
    function search_product() {
    let input = document.getElementById('searchbar').value
    input=input.toLowerCase();
    let x = document.getElementsByClassName('brand');
    let d= document.getElementsByClassName('hide-div')
    for (i = 0; i < x.length; i++) { 
        if (!x[i].innerHTML.toLowerCase().includes(input)) {
           x[i].style.display="none";
           d[i].style.display = "none";
        }
        else {
            x[i].style.display="list-item";    
            d[i].style.display = "block";         
        }
    }
}
</script>




