<div class="container d-flex mt-5">

    <div class="shop__sidebar__accordion col-md-3" style="border: 1px solid #000;">
        <div class="accordion" id="accordionExample">

            <div class="card">
                <div class="card-heading">
                    <a data-toggle="collapse" data-target="#collapseThree">Filter Status</a>
                </div>
                <div id="collapseThree" class="collapse show" data-parent="#accordionExample" >
                    <div class="card-body">
                        <div class="shop__sidebar__price">
                            <ul>
                                <li><a href="/price-filter">Placed</a></li>
                                <li><a href="#">Accepted</a></li>
                                <li><a href="#"></a>Shipped</li>
                                <li><a href="#">Delivered</a></li>
                                <li><a href="#">Cancelled</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    
    
    <div class="col-md-9 ">
        <div class="d-flex pt-3" style="background-color: #111111; color: #ffffff;height: 55px;">
            <div class="col-md-2">Order Id</div>
            <div class="col-md-3">Date</div>
            <div class="col-md-2">Amount</div>
            <div class="col-md-3">Payment Method</div>
            <div class="col-md-2">Order Status</div>
        </div>
        {{#each orders}}
        <a href="javascript:getProducts('{{this._id}}','{{this.userId}}')"><div class="d-flex mt-4" style="height: 120px; background-color: rgb(240, 240, 240);">
            <div class="col-md-2">
                <p>{{this.orderId}}</p>
            </div>
            <div class="col-md-3">
                <p>{{this.date}}</p>
            </div>
            <div class="col-md-2">
                 <p>{{this.totalAmount}}</p>
            </div>
             <div class="col-md-3">
                <p>{{this.paymentMethod}}</p>
            </div>
            <div class="col-md-2">
                <p>{{this.status}}</p>
            </div>
        </div></a>
        {{/each}}
    </div>
    
</div>